ProxyPass        /socket.io/ http://{{ user_register_app_host }}:{{ user_register_app_port }}/socket.io/
ProxyPassReverse /socket.io/ http://{{ user_register_app_host }}:{{ user_register_app_port }}/socket.io/

ProxyPass        /{{ user_register_app }} http://{{ user_register_app_host }}:{{ user_register_app_port }}/
ProxyPassReverse /{{ user_register_app }} http://{{ user_register_app_host }}:{{ user_register_app_port }}/

ProxyPass        /static http://{{ user_register_app_host }}:{{ user_register_app_port }}/static
ProxyPassReverse /static http://{{ user_register_app_host }}:{{ user_register_app_port }}/static

<Location /{{ account_app }}>
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    Require valid-user
    ShibUseHeaders On
    RewriteCond %{IS_SUBREQ} ^false$
    RewriteCond %{HTTP:Proxy-user} '{{ ood_user_regex }}'
    RewriteRule . - [E=REMOTE_USER:%1]
    RequestHeader set REMOTE_USER %{REMOTE_USER}e
</Location>

<Location "/static/">
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    Require valid-user
</Location>
